<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Athlon / Front-end Webpack Template</title>
  </head>
  <body>
    <header>
      <h1>
        <a href="https://github.com/WeAreAthlon/frontend-webpack-boilerplate/" target="_blank">Webpack 5 Template Boilerplate</a>
      </h1>

      <img src="images/content/logoa.svg" alt="Logo of Athlon" class="logo"> 
      
      <section class="badges">
        <a href="https://github.com/WeAreAthlon/frontend-webpack-boilerplate/" target="_blank"><img src="https://img.shields.io/maintenance/yes/2020?logo=github" alt="Maintenance"></a>
        <a href="https://webpack.js.org" target="_blank"><img src="https://img.shields.io/badge/webpack-v5.3.1-green?logo=webpack" alt="Current Webpack Version"></a>
        <a href="https://travis-ci.org/weareathlon/frontend-webpack-boilerplate" target="_blank"><img src="https://api.travis-ci.org/weareathlon/frontend-webpack-boilerplate.svg?branch=master" alt="Build Status"></a>
        <a href="https://github.com/WeAreAthlon/frontend-webpack-boilerplate/issues" target="_blank"><img src="https://img.shields.io/github/issues-raw/WeAreAthlon/frontend-webpack-boilerplate" alt="GitHub Issues"></a>
        <a href="https://snyk.io/test/github/WeAreAthlon/frontend-webpack-boilerplate?targetFile=package.json" target="_blank"><img src="https://snyk.io/test/github/WeAreAthlon/frontend-webpack-boilerplate/badge.svg?targetFile=package.json" alt="Known Vulnerabilities"></a>
        <a href="https://david-dm.org/WeAreAthlon/frontend-webpack-boilerplate?type=dev" target="_blank"><img src="https://david-dm.org/WeAreAthlon/frontend-webpack-boilerplate/dev-status.svg" alt="devDependency Status"></a>
        <a href="https://www.npmjs.com/package/@weareathlon/frontend-webpack-boilerplate" target="_blank"><img src="https://img.shields.io/npm/dm/@weareathlon/frontend-webpack-boilerplate" alt="npm"></a>
        <a href="https://github.com/WeAreAthlon/frontend-webpack-boilerplate/blob/master/LICENSE" target="_blank"><img src="https://img.shields.io/github/license/WeAreAthlon/frontend-webpack-boilerplate" alt="GitHub License"></a></p> 
      </section>  
    </header>
    <main>
      <p>Demo page illustrating building <strong>SASS</strong>, PostCSS, JavaScript, Fonts, Background Images and Inline Images.</p>
     
      <address>Documentation avaialable on the official <a href="https://github.com/WeAreAthlon/frontend-webpack-boilerplate/" target="_blank">GitHub Repository</a>.</address>
      <address>Maintained by <a href="https://www.weareathlon.com/" target="_blank">WeAreAthlon</a>.</address>
    </main>
  </body>
</html>
