/**
 * Helper mixins
*/

// Clearfix
// http://www.cssmojo.com/latest_new_clearfix_so_far/
// Other clearfix options: https://github.com/stubbornella/oocss/blob/master/oocss/src/components/utils/_clearfix-me.scss
@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

// Media queries
@mixin bp($point) {
  @if $point == large {
    @media (width >= 1280px) { @content; }
  } @else if $point == small {
    @media (width <= 1279px) { @content; }
  }
}

// Text selection
@mixin text-selection($color-selection, $color-selection-bg) {
  ::selection {
    background: $color-selection-bg;
    color: $color-selection;
    text-shadow: none;
  }
}

// Placeholders
// Usage:
// @include placeholder;
@mixin placeholder {
  ::placeholder {@content}
}
