@use "vars";

/**
 * Print Stylesheet
*/

@media print {
  @page { margin: 1cm; }

  body {
    background: vars.$white;
    color: vars.$black;
  }

  a {
    break-inside: avoid;
  }

  blockquote {
    break-inside: avoid;
  }

  table,
  pre {
    break-inside: avoid;
  }

  ul, ol, dl  {
    break-before: avoid;
  }
}
