html {
  font-size: 16px;
  font-family: $font-sans;
  background-color: $document-background;
}

body {
}

main {
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-serif;
}

p {
  font-family: $font-sans;
}
